



h1 {
    color: #2f3640;
    font-family: "Courier", Courier, monospace;
    text-align: center;
    padding: 100px;
    background-color: aliceblue;
  }

body {
    background-color: rgb(79, 79, 79);
    text-align: center;
    color: aliceblue;
}
  
.title {

    text-align: center;
    display: inline-block;
}

.search_bar {

    text-align: center;
    font-family: "Courier", Courier, monospace;
}

.srch_btn {

    color: rgb(79, 79, 79);
    padding: 5px;
    background-color: aliceblue;
    font-family: "Courier", Courier, monospace;
    
}

.gifs_container {
    padding: 20px;
    text-align: center;
    background-color: aliceblue;
    padding: 75px;
    display: block;
    margin: 0 auto;
    width: 400px;
}

.error {
    font-family: "Courier", Courier, monospace;
    color: rgb(79, 79, 79);
}