



h1 {
    color: #2f3640;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
  
.title {

    text-align: center;
    display: inline-block;
}

.search_bar {

    text-align: center;
}