<!-- templates/index.html -->
<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

<link rel="stylesheet" href=../static/style/styles.css>


{% block title %}
    GIF search
{% endblock %}
<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->
{% block body %}
<form method="get" action='/'>
    <div>
        Search for GIFs
        <input class="search-txt" type="query" name="query" placeholder="Enter your search term"/>
        <button type="submit">Submit</button>
    </div>

</form>


<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<div>
    {% for gif in gifs %}
        {% include 'gif.html' %}
    {% endfor %}
</div>
<!-- TODO: For each gif, include the 'gif.html' template to display it -->


{% endblock %}